{% extends "tool/base.html" %}

{% block title %} Create New List {% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save</button>
</form>
<!-- <form method="post" action="/create/" enctype="multipart/form-data"> -->
    <!-- {% csrf_token %} -->
   <!-- <label for="name" style="width:150px">Name</label>
   <input type="text" name="name">
    <label for="startdate" style="width:150px">Name</label>
   <input type="date" name="startdate">
   <button type="submit", name="save">Create new</button> -->
<!-- </form> -->
{% endblock %}