{% extends "tool/base.html" %}

{% block title %} Create New List {% endblock %}

{% block content %}

<!-- <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save</button>
</form> -->
<form method="post" action="/" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="padding: 80px;">
        <label for="dayoff" style="width:150px;height: 50px">Date Off</label>
        <input type="text" name="dateoff" placeholder="2022/01/01"></br>
        <label for="lst_extra_hours" style="width:150px;height: 50px;">Extra Hours</label>
        <textarea type="text" name="lst_extra_hours" placeholder="1,5-2,5-3,5" rows="7" cols="3"></textarea></br>
        <label for="startdate" style="width:150px;height: 50px">Start Date</label>
        <input type="text" name="startdate" placeholder="2022/01/01"></br>
        <label for="sethourswork" style="width:150px;height: 50px">Set Hours Work</label>
        <input type="text" name="sethourswork" value=8></br>
        <button type="submit", name="save">Apply</button>
    </div>
</form>
{% endblock %}