{% extends "tool/base.html" %}

{% block title %} Create New List {% endblock %}

{% block content %}
<div style="text-align:center; margin:50px 0px 50px 0px;font-family: 'Comic Sans MS', cursive, sans-serif;">
    <h3>Tool Date Details</h3>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Extra Hours</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Time Out</td>
            <td>Week Day</td>
        </tr>
    </thead>
    <tbody>
        {% for tool_date in tool_date_details %}
            <tr>
                <td>{{ tool_date.extra_hours }}</td>
                <td>{{ tool_date.start_date|date:"Y/m/d" }}</td>
                <td class="end_date">{{ tool_date.end_date|date:"Y/m/d" }}</td>
                <td >{{ tool_date.time_out }}</td>
                <td>{{ tool_date.weekday }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <button id="date-btn" class="btn">Do it </button>

<script>
    document.getElementById("date-btn").addEventListener('click', ()=>{
       const x = Array.from(document.getElementsByClassName("end_date")).map((i)=>{
        return i.innerHTML
       })
       navigator.clipboard.writeText(x.join('\n'));
    })
</script>
{% endblock %}