{% extends "tool/base.html" %}

{% block title %} Create New List {% endblock %}

{% block content %}
<div style="text-align:center; margin:50px 0px 50px 0px;font-family: 'Comic Sans MS', cursive, sans-serif;">
    <h3>Tool Date Details</h3>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Số giờ làm việc/Ngày</td>
            <td>Ngày Start</td>
            <td>Ngày Kết thúc</td>
            <td>Thời gian còn lại</td>
            <td>Ngày thứ</td>

        </tr>
    </thead>
    <tbody>
        {% for tool_date in tool_date_details %}
            <tr>
                <td>{{ tool_date.extra_hours }}</td>
                <td class="start_date">{{ tool_date.start_date|date:"Y/m/d" }}</td>
                <td class="end_date">{{ tool_date.end_date|date:"Y/m/d" }}</td>
                <td >{{ tool_date.time_out }}</td>
                <td>{{ tool_date.weekday }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <button id="start-date-btn" class="oe_highlight">Start Date </button>
    <button id="end-date-btn" class="oe_highlight">End Date</button>

<script>
    document.getElementById("start-date-btn").addEventListener('click', ()=>{
       const x = Array.from(document.getElementsByClassName("start_date")).map((i)=>{
        return i.innerHTML
       })
       navigator.clipboard.writeText(x.join('\n'));
    })
    document.getElementById("end-date-btn").addEventListener('click', ()=>{
       const x = Array.from(document.getElementsByClassName("end_date")).map((i)=>{
        return i.innerHTML
       })
       navigator.clipboard.writeText(x.join('\n'));
    })
</script>
{% endblock %}